<% content_for :title, "Editing component" %>

<h1 class="font-bold text-4xl mbe-4">Editing component</h1>

<%= render "form", component: @component %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Show this component", @component, class: "btn" %>
  <%= link_to "Back to components", components_path, class: "btn" %>
</div>
