<p>Hello,</p>
<p>Please find attached the component order for the project "<strong><%= @order.name %></strong>".</p>
<p>Quotation: <%= @version.full_quotation_number %></p>

<p>Thank you,<br/>TGT Aluminium</p>