<div id="<%= dom_id user %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h3 class="font-semibold leading-none"><%= user.name %></h3>
    <p class="text-sm text-subtle"><%= user.email %></p>
  </div>
</div>
