<div class="flex items-center gap">
  <%= link_to "Create new", new_product_path(order_version_id: order_version.id), class: "btn btn--secondary" %>
  <div>or</div>
  <%= link_to "Select from template", new_product_path(order_version_id: order_version.id, from_template: true), class: "btn btn--primary" %>
</div>