<div id="<%= dom_id client %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h3 class="font-semibold leading-none"><%= client.name %></h3>
    <p class="text-sm text-subtle"><%= client.email %></p>
  </div>
</div>
