<%= render @product_component %>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this product component", edit_product_component_path(@product_component), class: "btn" %>
  <%= link_to "Back to product", product_path, class: "btn" %>
  <%= button_to "Destroy this product component", @product_component, method: :delete, class: "btn" %>
</div>
