<% content_for :title, "Agents" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Agents</h1>
  <%= link_to "New agent", new_agent_path, class: "btn btn--primary" %>
</div>

<div id="agents" class="flex flex-col" style="gap: 2rem;">
   <table class="table">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Commission, %</th>
      <th>Files</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @agents.each do |agent| %>
      <tr>
          <%= render agent %>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
