<!-- app/views/orders/quotation.pdf.erb -->
<h1>Quotation PDF</h1>
<p>Order ID: <%= @order.id %></p>
<p>Order Name: <%= @order.name %></p>
<p>Quotation Number: <%= @version.quotation_number %></p>
        