
  <%= render "orders/order", 
    order: @order, 
    entries: @entries, 
    paid_amount: @paid_amount, 
    balance_due: @balance_due, 
    progress: @progress, 
    progress_color: @progress_color, 
    total_amount: @total_amount %>
  <%= render partial: "order_versions/order_version", locals: { order_version: @order_version } %>

  <div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
    <%= link_to "Back to orders", orders_path, class: "btn" %>
  </div>

