<h1>Order <%= @order_number %></h1>
<p>
  Hello <%= @customer_name %>,
  <br><br>
  Thank you for your order. Your order number is <%= @order_number %>.
  <br><br>
  Best regards,<br>
  Your Company
</p>