<% content_for :title, "New product" %>
<%= turbo_frame_tag(@product, @product.order_version_id, target: (@product.order_version_id.nil? ? "_top" : nil)) do %>
  <h1 class="font-bold text-4xl mbe-4">New product</h1>
  <%= render "form", product: @product %>
<% end %>
<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Back to products", products_path, class: "btn" %>
</div>
