<div id="<%= dom_id supplier %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= supplier.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Contact info:</h4>
    <p class="leading-none"><%= supplier.contact_info %></p>
  </div>
</div>
