<% content_for :title, "Editing supplier" %>

<h1 class="font-bold text-4xl mbe-4">Editing supplier</h1>

<%= render "form", supplier: @supplier %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Show this supplier", @supplier, class: "btn" %>
  <%= link_to "Back to suppliers", suppliers_path, class: "btn" %>
</div>
