<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Components Order</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
      <style>
      .prose table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 2rem;
      }

      .prose th, .prose td {
        border: 1px solid #e5e7eb;
        padding: 8px 12px;
      }

      .prose th {
        background-color: #f9fafb;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>